@import './vars.scss';

hr {
    z-index: -1;
    width: 100%;
}

body {
    min-height: 100dvh;
    background-color: #17171c;
    caret-color: transparent;
}

input, textarea {
    caret-color: #f0f0f0;
}

.sidebar-button {
    display: none;
}

main {
    padding: 2rem 1rem 1rem 27rem;
    height: 100%;
}

.small-page-content {
    max-width: 1000px;
    width: 100%;

    @media only screen and (max-width: $small-screen-width) {
        max-width: 800px;
    }

    @media only screen and (max-width: $mobile-view-width) {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: $small-screen-width) {
    html {
        font-size: 14px;
    }

    main {
        padding: 1.5rem 1.5rem 1.5rem calc(1.5rem + max(20rem, 20vw));
    }
}

@media only screen and (max-width: $mobile-view-width) {
    html {
        font-size: 12px;
    }

    .main-page {
        display: block;
    }

    main {
        padding: 5.5rem 0.5rem 1.5rem 0.5rem;
    }

    body.sidebar-shown {
        overflow-y: hidden;
    }

    body.sidebar-shown aside {
        height: 100dvh;
        overflow-y: auto;
    }

    .sidebar-button {
        display: block;
    }
}

.text-collapse {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.nav-item {
    margin-bottom: 0.5em;
}

.monaco-editor {
    position: absolute !important;
}

table.sticky-header th {
    position: sticky;
    top: 0;
}

.card-header.highlight {
    background-color: $primary;
}

.status-icon {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    margin-top: -0.25em;
}
