@import '../../vars.scss';

.scrollable-table-card.entity-list {
  max-width: 1000px;
  width: 100%;

  @media only screen and (max-width: $small-screen-width) {
    max-width: 800px;
  }

  @media only screen and (max-width: $mobile-view-width) {
    width: 100%;
    max-width: 100%;
  }

  table {
    min-width: 400px;

    tr:not(.table-placeholder) {
      cursor: pointer;

      &:hover td {
        background-color: #333;
      }
    }
  }
}

