.graph-editor {
  min-height: 300px;

  --graph-type-color: gray;

  .graph-type-boolean {
    --graph-type-color: #4c4;
  }

  .graph-type-number {
    --graph-type-color: #cc4;
  }

  .graph-type-string {
    --graph-type-color: #a2a;
  }

  .graph-type-id {
    --graph-type-color: #111;
  }

  .graph-background {
    display: table;
    z-index: -1;
    position: absolute;
    top: -320000px;
    left: -320000px;
    width: 640000px;
    height: 640000px;

    opacity: 1;
    background-color: $background-color;
    background-image:
      linear-gradient($background-grid-color 3.2px, transparent 3.2px),
      linear-gradient(90deg, $background-grid-color 3.2px, transparent 3.2px),
      linear-gradient($background-grid-color 1.6px, transparent 1.6px),
      linear-gradient(90deg, $background-grid-color 1.6px, $background-color 1.6px);

    background-size: 80px 80px, 80px 80px, 16px 16px, 16px 16px;
    background-position: -3.2px -3.2px, -3.2px -3.2px, -1.6px -1.6px, -1.6px -1.6px;
  }

  .graph-editor-controls {
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  }

  .graph-connection {
    overflow: visible !important;
    position: absolute;
    pointer-events: none;
    width: 9999px;
    height: 9999px;

    path {
      fill: none;
      stroke: var(--graph-type-color);
      stroke-width: 5px;
      pointer-events: auto;
      opacity: 0.9;
    }

    &.graph-connection-pseudo path {
      stroke: #fff4;
      stroke-width: 3px;
    }

    &.graph-type-exec path {
      stroke: $primary;
      stroke-dasharray: 10 5;
      animation: dash 1s linear infinite;
      stroke-dashoffset: 45;

      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}
