$node-border-radius: 10px;

$socket-size: 15px;
$socket-margin: 12px;

$background-color: #222;
$background-grid-color: #333;

$context-menu-width: 220px;
$context-menu-border-width: 2px;
$context-menu-border-radius: 10px;
$context-submenu-border-width: 2px;
$context-submenu-border-radius: 5px;
