.dashboard-card table tr {
    width: 100%;
    height: 3em;
    vertical-align: middle;
}

.dashboard-card-header {
    background-color: var(--primary-color) !important;
}

.dashboard-card-bot td:nth-child(1) {
    width: 7em;
}

.dashboard-card-system td:nth-child(1) {
    width: 7em;
}
